<!DOCTYPE html>
<html>
<body>
    <h1>Food Waste Saver</h1>
 
    <form>
        <label>Food Ingredients (seperate by commas)</label>
        <input type="text" name="name" value="">
        <br><br>
 
        <label for="cars"></label>Which meal:</label>

        <select name="meal" id="meal">
        <option value="breakfast">Breakfast</option>
        <option value="lunch">Lunch</option>
        <option value="dinner">Dinner</option>
        </select>
 
        
 
    </form>
</body>
</html>
